.idea/
venv/
*.json
output/
dataSample/
*.csv
dataHarvest_*
gcn
keras-gcn
data
dataHarvest/Tracking_City_Temperature_by_Hour.py
*.html
*.txt
saved_models
*.png
*.bak
Temp_pred_lpy/DNN-model.ckpt
*.pyc
*.pyc
*.ckpt
*.pyc
*.log
*.xlsx
*.swp
.DS_Store
